body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* 디버깅을 위해서 스타일을 임시로 설정 */

/* 버튼 스타일 */
.magic {
    background-color: #f9ca24;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 20px;

    cursor: pointer;
    
    position: fixed;
    top: 20px;

    letter-spacing: 1px;
    box-shadow: 0 3px rgba(249, 202, 36, 0.5);

    z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    /* https://developer.mozilla.org/ko/docs/Web/CSS/transform-function */
    transform: translateY(2px);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
    justify-content: space-around;
    width: 500px;
    height: 500px;
    position: relative;
}

.boxes.big .box {
    width: 600px;
    height: 600px;
}

.box {
    width: 125px;
    height: 125px;
    position: relative;
    background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
    background-repeat: no-repeat;
    background-size: 500px 500px;
}

.box:nth-child(1) { background-position:    0   0; }
.box:nth-child(2) { background-position: -125px 0; }
.box:nth-child(3) { background-position: -250px 0; }
.box:nth-child(4) { background-position: -375px 0; }

.box:nth-child(5) { background-position:    0   -125px; }
.box:nth-child(6) { background-position: -125px -125px; }
.box:nth-child(7) { background-position: -250px -125px; }
.box:nth-child(8) { background-position: -375px -125px; }

.box:nth-child(9) { background-position:     0   -250px; }
.box:nth-child(10) { background-position: -125px -250px; }
.box:nth-child(11) { background-position: -250px -250px; }
.box:nth-child(12) { background-position: -375px -250px; }

.box:nth-child(13) { background-position:    0   -375px; }
.box:nth-child(14) { background-position: -125px -375px; }
.box:nth-child(15) { background-position: -250px -375px; }
.box:nth-child(16) { background-position: -375px -375px; }

